/* Custom Fonts */
@font-face {
  font-family: 'Podium';
  src: url('./Podium.woff2') format('woff2'),
       url('./Podium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Play Pen';
  src: url('./PlayPen.woff2') format('woff2'),
       url('./PlayPen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Add more @font-face declarations for other fonts */